

<meta charset="UTF-8">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="d-1 w3-bar w3-wide w3-padding w3-card  text-secondary "  >
    
    <a href="#home" class="w3-bar-item w3-button"style="color:#c8b6b6;"><b>Market </b>Tracking Application</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small" onclick="myFunction()" title="Toggle Navigation Menu" style="color: #c8b6b6;"><i class="fa fa-bars"></i>
      <a href="#home" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Home</a>
      <a href="#features" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Features</a>
      <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hide-small">About Us</a>
      <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Contact Us</a>
      <button href="#" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Login</button>
    </div>
  </div>
</div><br><br>
<!-- Home Section -->
<!-- <div class="w3-container w3-padding-32" id="home">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"></h3>
    <img src="../assets/Img/home.PNG" style="width: 100%;height: 400px;">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.
    </p>   
 </div> -->
 <div class="" style="color: #00051E;padding: 20px;">
 <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"><b> How Service on M.T.A.</b></h3> 
 <div class="row" id="home">
  <div class="col-6">
      <h5><b>Become a Seller and List Your Service on M.T.A.</b></h5>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam, dolorem maiores, sit ipsa libero consectetur ipsum vel, mollitia amet hic facere. Eveniet, minima nulla eos nesciunt sapiente repudiandae inventore vitae!</p>
  </div>
  <div class="col-6">
      <h5><b> And Businesses Place </b></h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum tempora possimus magni harum impedit recusandae facere rerum vitae est animi quos quasi, quisquam ratione voluptas quidem ab! Impedit, quis velit.</p>
  </div>
</div><br><hr>
<div class="row">
  <div class="col-6">
      <h5><b>We Provide Service to The Customer</b></h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto culpa a similique dignissimos accusamus itaque eius ipsa saepe iure incidunt. Voluptatibus voluptatum, quibusdam commodi facilis accusantium saepe debitis nisi itaque?</p>
  </div>
  <div class="col-6">
      <h5><b> Save Your Money And Time</b></h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque debitis dicta laboriosam, nesciunt rerum error provident voluptatum earum veritatis quisquam et sunt! Harum quisquam consequuntur repudiandae voluptas voluptatem corporis saepe?</p>
  </div>
</div>
</div>
<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px;padding:10px;color: #00051E;">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="features">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"><b>Features</b></h3>
  </div>

  <div class="w3-row-padding">
    <!-- <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Some Text</div>
        <img src="/w3images/house5.jpg" alt="House" style="width:100%">
      </div>
    </div> -->
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div style="padding-right: 10px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis repudiandae autem commodi neque a dolore enim quos consectetur! Nesciunt non error enim, natus architecto totam incidunt corporis ut accusantium minima?</div>
        <!-- <div class="w3-display-topleft w3-black w3-padding"><h6>Some Text</h6> 
        </div> -->
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <!-- <div class="w3-display-topleft w3-black w3-padding">Some Text</div> -->
          <div style="padding-right: 10px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum veniam assumenda in rerum ad aperiam. Quidem, numquam vero repudiandae alias id commodi odio minima, rerum eveniet tempore laborum fuga accusantium.</div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-display-container">
            <!-- <div class="w3-display-topleft w3-black w3-padding">Some Text</div> -->
          <div style="padding-right: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quos reprehenderit nihil odio itaque repellat unde eius perspiciatis aspernatur, animi, error impedit in architecto dolorum. Repudiandae perspiciatis natus delectus tenetur!</div>
          </div>
        </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
      <div style="padding-right: 10px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti officiis incidunt quod vero, ex laboriosam nobis doloribus beatae! Tenetur, commodi quisquam. Iste nulla perspiciatis consequuntur nostrum possimus similique debitis vitae.</div>
        <!-- <div class="w3-display-topleft w3-black w3-padding">Some Text</div> -->
      </div>
    </div>
  </div>

  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"><b>About</b></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>

  <div class="w3-row-padding w3-grayscale" >
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="../assets/Img/img.jpg" alt="John" style="width:100%">
      <h3>Jhon Smith</h3>
      <p class="w3-opacity">CEO & Founder</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="../assets/Img/img.jpg" alt="Jane" style="width:100%">
      <h3>Mathew Naren</h3>
      <p class="w3-opacity">Architect</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="../assets/Img/img.jpg" alt="Mike" style="width:100%">
      <h3>Kelvin Lol</h3>
      <p class="w3-opacity">Manager</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="../assets/Img/img.jpg" alt="Dan" style="width:100%">
      <h3>Bob Seth</h3>
      <p class="w3-opacity">Developer</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
  </div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"><b>Contact</b></h3>
    <p>Lets get in touch and talk about your next project.</p>
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>
  
<!-- Image of location/map -->
<div class="w3-container">
  <img src="../assets/Img/map.jpg" class="w3-image" style="width:100% ;height: 400px;">
</div>

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="#"  target="_blank" class="w3-hover-text-green">Market Tracking Application</a></p>
</footer>

</body>

